section.tilemap {
  display       : flex;
  flex-direction: column;

  >header {
    flex-shrink  : 0;
    height       : 49px;
    border-bottom: 1px solid var(--line-color);
  }

  >header,
  >footer {
    display: flex;
    gap    : 10px;
    padding: 0 10px;

    >.input {
      flex-direction: row;
      align-items   : center;

      >input {
        width: 60px;
      }
    }
  }

  >main {
    flex-grow: 1;
    overflow : hidden;
  }

  >footer {
    flex-shrink    : 0;
    height         : 49px;
    border-top     : 1px solid var(--line-color);
    justify-content: flex-end;
  }
}