section.tilemap {
  display       : flex;
  flex-direction: column;

  >header {
    height       : 49px;
    border-bottom: 1px solid var(--line-color);
  }

  >main {
    flex-grow: 1;
  }

  >footer {
    height    : 49px;
    border-top: 1px solid var(--line-color);
  }
}